<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
            <h2 class="text-2xl font-bold text-gray-900">Cities</h2>
            <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                <ng-container *ngFor="let city of cities_front">                   
                    <div class="group relative" (click)="openModal(city.city)">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2
                        lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="{{city.url}}"
                            alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
                            class="h-full w-full object-cover object-center">
                        </div>
                        <p class="text-base font-semibold text-gray-900">{{city.city}}</p>
                    </div>
            </ng-container>
        </div>
    </div>
</div>
</div>
<app-city-modal [show]="modalOpen" [cityName]="selectedCityName" *ngIf="modalOpen" (closeModal)="closeModal()"></app-city-modal>
